@font-face {
  font-family: 'Ivywork';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url('./ivywork-regular.woff2') format('woff2'),
       url('./ivywork-regular.otf') format('opentype');
}
