@font-face {
  font-family: 'Kreisform';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url('./kreisform-regular.woff2') format('woff2'),
       url('./kreisform-regular.otf') format('opentype');
}
