@font-face {
  font-family: 'Asteria';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url('./asteria-regular.woff2') format('woff2'),
       url('./asteria-regular.otf') format('opentype');
}
