@font-face {
  font-family: 'Circuit font';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url('./circuit-font-regular.woff2') format('woff2'),
       url('./circuit-font-regular.otf') format('opentype');
}
